BasedOnStyle:  LLVM 
---
Language:        Cpp
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "[a-z]*.hh"
    Priority: 100
  - Regex: "deal.II*"
    Priority: 200
  - Regex: "boost*"
    Priority: 300
  - Regex: "<[a-z_]+>"
    Priority: 1000
...
